.bg_page{
	background-color: teal;
	height: 100px;
	color: gold;
}

.h1{
	margin: 10px;
}

.menu{
  margin-top: 25px;
  margin-bottom: 10px;
}

.menu-content{
	width: 100%;
	background-color: lightblue;
	color: white;

}

.title-name{
	color: black;
	font-size: 150%;
	font-weight: 700;
	padding-top: 10px;
}


.lorem{
	padding: 20px;
}


@media (min-width: 768px) {
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  visibility: hidden;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  visibility: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  visibility: hidden;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  visibility: hidden;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
}


@media (max-width: 767px) {

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
}
